.underHeaderText {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    margin-top: 150px;
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.shirtDivs {
    text-align: center;
}

.raceFront {
    width: 30%;
    /* filter:drop-shadow(2px 2px 15px black) */
}

.white {
    margin-top: 10px;
    height: 295px;
}

@media screen and (max-width: 801px) {
    .underHeaderText {
        font-size: 20px;
    }
}